/target/
.DS_Store

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.hprof
/out/**

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/

## Gradle ##
.gradle
**/build/
!src/**/build/

## Coppuccino ##
.coppuccino

## Hush ##
.dependency-check-data
